## Percobaan dengan 15 Transaksi

In [7]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [8]:
data = pd.read_excel("../datasets/percobaan.xlsx")
data.head(100)

    Transaction           Item
0             1      Medialuna
1             1         Pastry
2             1          Coffe
3             1            Tea
4             2  Hot Chocolate
5             2            Jam
6             2        Cookies
7             3          Coffe
8             3         Pastry
9             3          Bread
10            4      Medialuna
11            4         Pastry
12            4         Muffin
13            5          Coffe
14            5      Medialuna
15            5          Bread
16            6            Jam
17            6          Coffe
18            6        Tartine
19            6         Pastry
20            6            Tea
21            7         Basket
22            7          Bread
23            7          Coffe
24            8          Bread
25            8      Medialuna
26            8         Pastry
27            9          Coffe
28            9          Bread
29           10          Bread
30           10      Medialuna
31           10          Coffe
32           11          Coffe
33           11         Muffin
34           12          Juice
35           12        Tartine
36           12          Coffe
37           12         Muffin
38           13          Coffe
39           13  Hot Chocolate
40           13      Medialuna
41           14          Coffe
42           14      Medialuna
43           15          Ellen
44           15          Juice
45           15          Bread
46           15         Muffin
47           15            Jam

## Grouping berdasarkan Transaksi dan Item

In [9]:
item_count = data.groupby(["Transaction", "Item"])["Item"].count().reset_index(name="Count")

In [10]:
item_count.head(10)

   Transaction           Item  Count
0            1          Coffe      1
1            1      Medialuna      1
2            1         Pastry      1
3            1            Tea      1
4            2        Cookies      1
5            2  Hot Chocolate      1
6            2            Jam      1
7            3          Bread      1
8            3          Coffe      1
9            3         Pastry      1

## Membuat Pivot Table

In [11]:
item_count_pivot = item_count.pivot_table(index='Transaction' , columns='Item', values='Count', aggfunc='sum').fillna(0)
item_count_pivot.head(100)

Item,Basket,Bread,Coffe,Cookies,Ellen,Hot Chocolate,Jam,Juice,Medialuna,Muffin,Pastry,Tartine,Tea
Transaction,,,,,,,,,,,,,
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
5,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
7,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
9,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
13,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0

In [18]:
item_count_pivot = item_count_pivot
item_count_pivot.head()

Item,Basket,Bread,Coffe,Cookies,Ellen,Hot Chocolate,Jam,Juice,Medialuna,Muffin,Pastry,Tartine,Tea
Transaction,,,,,,,,,,,,,
1,0,0,1,0,0,0,0,0,1,0,1,0,1
2,0,0,0,1,0,1,1,0,0,0,0,0,0
3,0,1,1,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,1,1,1,0,0
5,0,1,1,0,0,0,0,0,1,0,0,0,0

## Mengubah data kuantitas menjadi 1 / 0

In [19]:
def encode(x):
    if x <= 0:
        return 0
    elif x >= 1:
        return 1

item_count_pivot = item_count_pivot.applymap(encode)
item_count_pivot.head()

Item,Basket,Bread,Coffe,Cookies,Ellen,Hot Chocolate,Jam,Juice,Medialuna,Muffin,Pastry,Tartine,Tea
Transaction,,,,,,,,,,,,,
1,0,0,1,0,0,0,0,0,1,0,1,0,1
2,0,0,0,1,0,1,1,0,0,0,0,0,0
3,0,1,1,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,1,1,1,0,0
5,0,1,1,0,0,0,0,0,1,0,0,0,0

## Mencari Frequent Itemsets

In [20]:
support = 0.3
frequent_items = apriori(item_count_pivot.astype('bool'), min_support= support, use_colnames=True)
frequent_items.sort_values("support", ascending=False).head(100)

    support            itemsets
1  0.733333             (Coffe)
0  0.466667             (Bread)
2  0.466667         (Medialuna)
3  0.333333            (Pastry)
4  0.333333      (Coffe, Bread)
5  0.333333  (Medialuna, Coffe)

## Mencari Association Rule

In [15]:
metric = "confidence"
min_threshold = 0.6

rules = association_rules(frequent_items, metric=metric, min_threshold=min_threshold)[["antecedents","consequents","support","confidence","lift"]]
rules.sort_values('confidence', ascending=False, inplace=True)
rules.head(100)

   antecedents consequents   support  confidence      lift
0      (Bread)     (Coffe)  0.333333    0.714286  0.974026
1  (Medialuna)     (Coffe)  0.333333    0.714286  0.974026

In [16]:
from mlxtend.frequent_patterns import fpgrowth

In [17]:
support = 0.3
frequent_items = fpgrowth(item_count_pivot, min_support= support, use_colnames=True)
metric = "confidence"
min_threshold = 0.6

rules = association_rules(frequent_items, metric=metric, min_threshold=min_threshold)[["antecedents","consequents","support","confidence","lift"]]
rules.sort_values('confidence', ascending=False, inplace=True)
rules.head(100)

c:\Users\Budi\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

   antecedents consequents   support  confidence      lift
0  (Medialuna)     (Coffe)  0.333333    0.714286  0.974026
1      (Bread)     (Coffe)  0.333333    0.714286  0.974026